<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Hello World! Site Title</title>
  </head>
  <body>
  <h1> Loop </h1>
    {% for obj in loop %}
      {{ "{}: {} {}".format(obj.vendor,obj.name,obj.price) }}
      <br>
    {% endfor %}
  <h1> Lyft </h1>
    {% for obj in lyft %}
      {{ "{}: {} {}".format(obj.vendor,obj.name,obj.price) }}
      <br>
    {% endfor %}
    <h1> Svens</h1>
    {% for obj in svens %}
      {{ "{}: {} {}".format(obj.vendor,obj.name,obj.price) }}
      <br>
    {% endfor %}
    <h1> Snusari </h1>
    {% for obj in snusari %}
      {{ "{}: {} {}".format(obj.vendor,obj.name,obj.price) }}
      <br>
    {% endfor %}
    
  </body>
</html>